# Linguist overrides
*.h linguist-language=cpp
*.cs linguist-language=C#

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.vcxproj merge=union
*.vcxproj.filters merge=union
