# Linguist overrides
$ cat .gitattributes
/MadMilkman.Ini/IniEnums/IniCommentStarter.cs linguist-language=csharp
/MadMilkman.Ini/IniEnums/IniKeyDelimiter.cs linguist-language=csharp
*.h linguist-language=cpp

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.sln     merge=union
*.csproj  merge=union
*.vbproj  merge=union
*.vcxproj merge=union